asgiref
distlib
dj-database-url
Django
django-environ
djangorestframework
filelock
gunicorn
packaging
platformdirs
psycopg2
python-decouple
python-dotenv
pytz
sqlparse
typing_extensions
tzdata
virtualenv
virtualenvwrapper-win
